body{
     
    background-image: url(https://media.istockphoto.com/id/1498013600/vector/modern-style-pets-logos-icons-dog-cat-illustrations-and-symbols.jpg?s=612x612&w=0&k=20&c=IUzpo8keb8aLi-UWjjczY1dxRIRfs5Xu_nyAaBU7sqg=); 

    text-align: center;
    justify-content: center;
            align-items: center;
            height: 80vh;
    display: flex;


}