h3{
    color:gold;
    text-decoration-color:gold ; 
    background-color:#454444 ;
}


h2{
    text-align: center;
    background-color: #6A0DAD;
    color: #ecebeb;
    
}
img{
    margin-left: 190px;
}
body{
    color:#fffbfb;
    background-color: #121212;
    
}
a{
    color: aquamarine;
}
